* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section,
footer,
main,
header {
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}

.sobre-mim {
    padding: 50px;
    margin: 10px;
}

.gif {
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}